@model List<Recipe>
@{
    ViewBag.Title = "Emily's Baking Catalogue"; 
}

<h2> Emily's Baking Catalogue </h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th> Name </th>
            <th> Catergory </th>
            <th> Difficulty </th>
            <th> Season </th>
            <th> Favorite Recipe </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in Model) { 
            <tr>
                <td> @recipe.Name </td>
                <td> @recipe.Category.Name </td>
                <td> @recipe.Difficulty</td>
                <td> @recipe.Season.Name </td>
                <td> <a href=@recipe.RecipeUrl>@recipe.Name </a></td>

            </tr>
           }
    </tbody>
</table>


